*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}
.navbar-logo{
    font-size: 24px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar-menu li{
    margin-right: 20px;
}
.navbar-menu li:last-child{
    margin-right: 0;
}
.navbar-menu li a{
    color: #fff;
    text-decoration: none;
}
.navbar-toggle{
    display: none;
}
@media (max-width: 768px){
    .navbar-menu{
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 10px;
    }
    .navbar-menu li{
        margin-right: 0;
        margin-bottom: 10px;
    }
    .navbar-toggle{
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
    }
}